.password-tips {
  font-family: 'DM Sans', sans-serif;
  font-size: 0.88rem;
}

.password-tips li {
  font-family: 'DM Sans', sans-serif;
  font-size: .75rem;
}

.password-tips-list {
  margin-top: -0.75rem;
  padding-left: 0.75rem;
}